.lesson-page {
  padding: 20px;
}

.lesson-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.lesson-actions {
  display: flex;
  gap: 10px;
}

.lesson-header h2 {
  font-weight: 600;
}

.title-chapper {
  margin-bottom: 20px;
  margin-top: 50px;
  display: flex
}

.title-chapper-open {
  color: green;
  margin-left: 20px;
}

.title-chapper-close {
  color: red;
  margin-left: 20px;
}

.status-open {
  background-color: green;
  color: white;
  text-align: center;
  width: 100px;
  border-radius: 10px;
}

.status-close {
  background-color: red;
  color: white;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.image-small {
  border-width: 1px;
  border-style: solid;
  height: 60px;
  width: 100px;
  justify-items: center;
  align-content: center;
  border-color: slategray;
}