.knowledge-page {
  padding: 20px;
}

.knowledge-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.knowledge-actions {
  display: flex;
  gap: 10px;
}

.pdf-small {
  border-width: 1px;
  border-style: solid;
  height: 60px;
  width: 100px;
  justify-items: center;
  align-content: center;
  border-color: slategray;
}
